.home { /*back to home tab*/
    text-align: center;
    border: 20px;
    margin: 20px;
    background-color: black;
    color: violet;
}

body {
    background-color: #000000; /*body background*/
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #d20eca, #d20eca 1px, #000000 1px, #000000);
}

a {
    text-decoration: none;
    color: violet;
    width: 100%;
    height: auto;
}

h2 {
    color: white;
    text-align: center;
    background-color: black;
}

.tatum {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
}

p {
    color: white;
    font-size: 23px;
    text-align: center;
}

.paolo { /*honorable mention list*/
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.lillard {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.trae {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.brunson {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.kyrie {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.donovan {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.devin {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.sabonis {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
}

.victor {
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
} /*end of honorable mention list*/