html {
  background-color: #000;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #d20eca, #d20eca 1px, #000000 1px, #000000);
}

/* Top Tabs*/

.home {
  text-align: center;
  float: left;
  font-size: 30px;
  margin: -17px 0px 0px -58px;
  border: 16px;
  padding: 26px 25px 20px 25px;
  background-color: black;
  height: 31px;
  width: 200px;
  overflow: hidden;
 }
 
 .list {
     text-align: center;
     font-size: 30px;
     margin: -18px 200px 16px 180px;
     border: 1px 1px 10px 1px;
     background-color: black;
     padding: 10px 16px 13px 1px;
     margin-top: -49px;
     overflow: hidden;
     
 }
 
 .about {
     text-align: right;
     float: right;
     border: auto;
     font-size: 30px;
     margin: -10px -70px 15px 5px;
     padding: 14px 132px 32px 50px;
     background-color: black;
     margin-top: -80px;
     height: 18px;
     overflow: hidden;
 
 }
 
 ul {
  list-style: none;
}

/*end of top tabs*/

a {
  text-decoration: none;
  color: blueviolet;
  font-family: verdana;
}

body {
    color: white;
    padding: 25px;
    font-family: sans-serif;
  } /*Gabe ranks heading*/
  
  .center {
    text-align: center;
    color: lightblue;
    background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
    margin: auto;
    border: border-box;
    height: 72px;
  } /*end of Gabe ranks heading*/
  
  .img {
    width: 60px;
    height: 60px;
    width: 100%;
    height: auto;
  } /*The List*/
  
  .one {
    font-size: 20px;
    color: violet;
  }
  
  .number-10 {
    text-align: center;
  }
  
  .victor {
    font-size: 20px;
    color: lightblue;
    margin: 20 20 20 20;
    border: 5 5;
    padding: 500;
    height: 300px;
    background: orange;
  }
  
  .p1 {
    color: limegreen;
  }
  
  .img2 {
    height: 500px;
    width: 700px;
    width: 100%;
    height: auto;
  }
  
  .ant {
    font-size: 20px;
    font-family: monospace;
  }
  
  .ant-dunk {
    display: flex;
    margin: auto;
  }
  
  .number-9 {
    text-align: center;
  }
  
  .img3 {
    height: 500px;
    width: 800px;
    width: 100%;
    height: auto;
  }
  
  .steph {
    font-size: 20px;
    font-family: monospace;
  }
  
  .steph-3 {
    display: flex;
    margin: auto;
  }
  
  .p2 {
    color: green;
  }
  
  .p2-1 {
    color: green;
  }
  
  .number-8 {
    text-align: center;
  }
  
  .img4 {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
  }
  
  .kd {
    font-size: 20px;
    font-family: monospace;
  }
  
  .kd-highlight {
    display: flex;
    margin: auto;
  }
  
  .number-7 {
    text-align: center;
  }
  
  .img5 {
    width: 700px;
    height: 500px;
    width: 100%;
    height: auto;
  }
  
  .lebron {
    font-size: 20px;
    font-family: monospace;
  }
  
  .lebron-stats {
    font-size: 24px;
  }
  
  .lebron-dunk {
    margin: auto;
    display: flex;
  }
  
  .number-6 {
    text-align: center;
  }
  
  .img6 {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
  }
  
  .shai {
    font-size: 20px;
    font-family: monospace;
  }
  
  .number-5 {
    text-align: center;
  }
  
  .img7 {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
  }
  
  .ad {
    font-size: 20px;
    font-family: monospace;
  }
  
  iframe {
    margin: auto;
    display: flex;
  }
  
  .number-4 {
    text-align: center;
  }
  
  
  .img8 {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
  }
  
  .flop {
    font-size: 20px;
    font-family: monospace;
  }

  .number-3 {
    text-align: center;
  }

  .img9 {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
  }

.giannis {
  font-size: 20px;
  font-family: monospace;
}

.number-2 {
  text-align: center;
}

.img10 {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
}

.luka {
  font-size: 20px;
  font-family: monospace;
}

.number-1 {
  text-align: center;
}

.img11 {
  margin: auto;
  display: flex;
  width: 100%;
  height: auto;
}

.jokic {
  font-size: 20px;
  font-family: monospace;
} /*End of the list*/

.span-1 {
  color: lime;
}

.span-2 {
  color: red;
}