.about-page {
    text-align: center;
    color: blue;
}

.h2-header {
    color: red;
}

.home {
 color: red;  
 text-align: center;
 float: left;
 font-size: 30px;
}

.list {
    text-align: center;
    font-size: 30px;
}

.about {
    text-align: center;
    float: right;
    font-size: 30px

}

ul {
    list-style: none
}
